<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
</head>
<body>
    <div class="container-fluid" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card bg-light mb-3" style="max-width: 640px;">
                    <div class="card-header">My Recipes!</div>
                    <div class="card-body">
                        <table class="table" th:if="${!#lists.isEmpty(recipes)}">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">View</th>
                                    <th scope="col">Update</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="recipe : ${recipes}">
                                    <td th:text="${recipe.id}"></td>
                                    <td th:text="${recipe.description}"></td>
                                    <td><a th:href="@{'/recipe/' + ${recipe.id} + '/show'}">View</a></td>
                                    <td><a th:href="@{'/recipe/' + ${recipe.id} + '/update'}">Update</a></td>
                                    <td><a th:href="@{'/recipe/' + ${recipe.id} + '/delete'}">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</body>
</html>